<div class="bg-light p-5 vh-100">
  <div class="shadow border card col-sm-12 px-0 col-md-6 mx-auto bg-white mt-1">
    <img
      class="card-img-top"
      src="assets/covid-header.jpg"
      alt="Card image cap"
    />
    <div *ngIf="isRegistrationActive" class="card-body p-5">
      <div *ngIf="submitted" class="alert alert-success" role="alert">
        Registered successfully for Vaccination Alert!
      </div>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <div class="form-group row">
          <div class="col col-sm-12 col-md-6">
            <label for="name" class="col-form-label">Name:</label>
            <div class="col-sm-12 col-md-12 px-0">
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name"
                name="name"
                placeholder="Name"
                required
              />
              <div
                *ngIf="
                  myForm.controls.name.touched && myForm.controls.name.invalid
                "
                class="text-danger"
              >
                <div>*Name is required</div>
              </div>
            </div>
          </div>
          <div class="col col-sm-12 col-md-6">
            <label for="phone" class="col-form-label">Phone:</label>
            <div class="col-sm-12 px-0">
              <input
                type="text"
                id="phone"
                class="form-control"
                formControlName="phone"
                name="phone"
                placeholder="Contact Number"
              />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="emailId" class="col-form-label col">Email:</label>
          <div class="col-sm-12">
            <input
              type="email"
              id="emailId"
              required
              class="form-control"
              formControlName="emailId"
              name="emailId"
              placeholder="Email Id"
            />
            <div
              *ngIf="
                myForm.controls.emailId.touched &&
                myForm.controls.emailId.invalid
              "
              class="text-danger"
            >
              <div>*Email is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col col-sm-12 col-md-6">
            <label for="state">Select State:</label>
            <select
              id="state"
              required
              [(ngModel)]="registerAlertsRequest.state"
              (ngModelChange)="loadDistricts()"
              name="state"
              formControlName="state"
              class="col-12 p-2 border rounded"
            >
              <option
                *ngFor="let state of statesData"
                [ngValue]="state.state_id"
              >
                {{ state.state_name }}
              </option>
            </select>
            <div
              *ngIf="
                myForm.controls.state.touched && myForm.controls.state.invalid
              "
              class="text-danger"
            >
              <div>*State is required</div>
            </div>
          </div>
          <div class="col col-sm-12 col-md-6">
            <label for="districtId">Select District:</label>
            <select
              id="districtId"
              required
              name="districtId"
              formControlName="districtId"
              class="col-12 p-2 border rounded"
            >
              <option
                *ngFor="let district of districtData"
                [ngValue]="district.district_id"
              >
                {{ district.district_name }}
              </option>
            </select>
            <div
              *ngIf="
                myForm.controls.districtId.touched &&
                myForm.controls.districtId.invalid
              "
              class="text-danger"
            >
              <div>*District is required</div>
            </div>
          </div>
        </div>
        <fieldset class="form-check mx-0 px-0">
          <div class="row">
            <legend class="col-form-label col-12 pt-0">Age:</legend>
            <div class="col-sm-10 row mx-0">
              <div class="form-check col-sm-12 col-md-2">
                <input
                  class="form-check-input"
                  type="radio"
                  value="18"
                  id="filterAge"
                  required
                  name="filterAge"
                  formControlName="filterAge"
                  checked
                />
                <label class="form-check-label" for="filterAge">
                  18 - 44
                </label>
              </div>
              <div class="form-check col-sm-12 col-md-3">
                <input
                  class="form-check-input"
                  type="radio"
                  id="filterAge"
                  required
                  name="filterAge"
                  formControlName="filterAge"
                  value="45"
                />
                <label class="form-check-label" for="filterAge"> 45+ </label>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              myForm.controls.filterAge.touched &&
              myForm.controls.filterAge.invalid
            "
            class="text-danger"
          >
            <div>*Age is required</div>
          </div>
        </fieldset>
        <div class="form-group row">
          <div class="col-sm-12">
            <button
              [disabled]="!myForm.valid"
              type="submit"
              class="btn btn-primary float-right"
            >
              Register for Alert
            </button>

            <button
              type="button"
              (click)="deRegisterOption(false)"
              class="btn btn-link mx-1 float-right"
            >
              De-Register for Alert
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- De-Register Component -->
    <div *ngIf="!isRegistrationActive" class="card-body p-5">
      <div *ngIf="submitted" class="alert alert-success" role="alert">
        De-Registered successfully for Vaccination Alert!
      </div>
      <form [formGroup]="myDForm" (ngSubmit)="onSubmitDeRegister(myDForm)">
        <div class="form-group">
          <div class="form-group row mb-5">
            <label for="emailId" class="col-form-label col">Email:</label>
            <div class="col-sm-12">
              <input
                type="email"
                id="emailId"
                required
                class="form-control"
                formControlName="emailId"
                name="emailId"
                placeholder="Email Id"
              />
              <div
                *ngIf="
                  myDForm.controls.emailId.touched &&
                  myDForm.controls.emailId.invalid
                "
                class="text-danger"
              >
                <div>*Email is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button
                [disabled]="!myDForm.valid"
                type="submit"
                class="btn btn-primary float-right"
              >
                De-Register for Alert
              </button>
              <button
              type="button"
              (click)="deRegisterOption(true)"
              class="btn btn-link mx-1 float-right"
            >
              Register for Alert
            </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
